[Unit]
Description=Bamboo Agent Daemon #{{agentNumber}}

[Service]
EnvironmentFile=/etc/sysconfig/bamboo
ExecStart=/usr/java/latest/bin/java -Ddisable_agent_auto_capability_detection=true -Dbamboo.home=/opt/bamboo/agent-{{agentNumber}} -jar /opt/bamboo/agent-installer-current.jar http://es-compile01.emcent.scn.securustech.net/agentServer/
PIDFile=/opt/bamboo/agent-{{agentNumber}}/bin/bamboo-agent.pid
User=bamboo

[Install]
WantedBy=multi-user.target

