[Unit]
Description=Swagger Validator Badge

[Service]
EnvironmentFile=/etc/sysconfig/swagger
ExecStart=/opt/apache-maven/bin/mvn -f /opt/swagger/validator-badge/pom.xml jetty:run
User=swagger

[Install]
WantedBy=multi-user.target

