[Unit]
Description=Start Hazelcast Mancenter

[Service]
WorkingDirectory=/opt/hazelcast/latest/mancenter
ExecStart=/opt/hazelcast/latest/mancenter/startManCenter.sh 8080 mancenter
User=hazelcast
Restart=on-failure

[Install]
WantedBy=multi-user.target
